.btn-container {
  display: grid;
  /* grid-auto-flow: column; */
  width: 100%;
  grid-gap: 25px;
  justify-content: center;
}
.btn-container .wrapper {
  display: grid;
  grid-template-columns: 61px 1fr 1fr 61px;
  align-items: center;
}
.btn {
  position: relative;
  display: inline-block;
  font-size: 22px;
  padding: 20px 60px;
  color: white;
  margin: 20px 10px 10px;
  border-radius: 6px;
  text-align: center;
  transition: top 0.01s linear;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  outline: none;
}
small {
  color: rgba(255, 255, 255, 0.6);
}
.timer {
  width: 61px;
}
.timer--debounce {
  justify-self: end;
  text-align: right;
}
.debounce {
  background: rebeccapurple;
}

.throttle {
  background: cornflowerblue;
}
.input-container {
  display: grid;
  grid-template-columns: 1fr auto;
}
.playground {
  height: 100vh;
  max-height: 500px;
  margin-top: 5px;
  border-bottom: 4px groove threedface;
  border-top: 4px groove threedface;
  background: rgba(255, 50, 120, 0.05);
}

.shape {
  position: absolute;
  width: 50px;
  height: 50px;
}

.square {
  background: rebeccapurple;
  border-radius: 6px;
  animation: moveSquare 5s forwards;
}

.circle {
  background: cornflowerblue;
  border-radius: 100%;
  animation: moveCircle 5s forwards;
  right: 0;
}

@keyframes moveSquare {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(2000px);
  }
}

@keyframes moveCircle {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-2000px);
  }
}
/*  */

output {
  grid-row: 2 / 3;
}
input[type='range'].set-timer {
  grid-row: 2 / 3;
  justify-self: center;
  max-width: calc(100% - 150px);
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}
input[type='range'].set-timer:focus {
  outline: none;
}
input[type='range'].set-timer::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type='range'].set-timer::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type='range'].set-timer:focus::-webkit-slider-runnable-track {
  background: #3781c1;
}
input[type='range'].set-timer::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type='range'].set-timer::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type='range'].set-timer::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range'].set-timer::-ms-fill-lower {
  background: #296191;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range'].set-timer::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range'].set-timer::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type='range'].set-timer:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type='range'].set-timer:focus::-ms-fill-upper {
  background: #3781c1;
}
